/* src/App.css */

.app {
  text-align: center;
}

.app-header {
  background-color: #f8f9fa;
  padding: 40px;
  border-radius: 10px;
}

.items {
  display: flex;
  justify-content: center;
}

.item {
  margin: 10px;
}

.cart {
  margin-top: 40px;
}

.list-group-item {
  margin-top: 10px;
}

h1,
h2 {
  color: #343a40;
}